In [70]:
my_name = "Emmanuella"

In [71]:
another_name = "linus"

In [72]:
my_school = "HSWT"

In [73]:
my_name
another_name
print(my_name)
print(another_name)

Emmanuella
linus

In [74]:
height = 1.6

In [75]:
Height = 10

In [76]:
height == Height

False

In [77]:
age = 11, 12, 13

In [78]:
age

(11, 12, 13)

In [79]:
list

list

In [80]:
list (age)

[11, 12, 13]

In [81]:
even_numbers = list([2, 4, 6, 8, 10])

In [82]:
even_numbers[2]

6

In [83]:
even_numbers[-1]

10

In [84]:
len(even_numbers)

5

In [85]:
even_numbers.append(0)

In [86]:
even_numbers

[2, 4, 6, 8, 10, 0]

In [87]:
even_numbers.pop(2)

6

In [88]:
even_numbers.index(8)

2

In [89]:
even_numbers.append(2)

In [90]:
# Tuple uses ()
# list uses []

In [91]:
example_tuple = (1,2,3,4)

In [92]:
example_list = [1,2,3,4]

In [93]:
example_tuple == example_list

False

In [94]:
type(example_tuple)

tuple

In [95]:
type(example_list)

list

In [96]:
#slice/subset a tuple
example_tuple[0]
example_tuple[-1]

4

In [97]:
example_tuple.count(4)

1

In [98]:
example_tuple.index(3)

2

In [99]:
sch_names = ["Kojo", "ama", "Kfoi", "ama", "ama", "ama", "ama"]

In [100]:
another_sch_names = ("gogo", "asa", "jojo","jojo","jojo","jojo")

In [101]:
# set
example_set = {"gogo", "asa", "jojo","jojo","jojo","jojo"}

In [102]:
example_set

{'asa', 'gogo', 'jojo'}

In [103]:
#set and list is a mutable data structure 
# but list allows duplicates and set does not, it accepts unique vales
# list uses () and set uses {}
#set takes many data types but not duplicates
#"" quotation marks are use for strings while and integer is an integer without the quotation marks

#side not
#dunker / magic methods
#__len__(), __add__() are example dunker / magic methods

#side note
# .add takes just one argument ("hoho")and .update takes two or more arguement ({"hoho", "pepe"})

In [48]:
example_set.add("kofo")

In [49]:
example_set.update({"fifi", "afi"})

In [50]:
example_set.add(str(50)) #str == string

In [ ]:
# assignment
#explore the different methods for set data structuure

In [52]:
# a string can be slide
wds = "poplipopo"
wds[-1]

'o'

In [53]:
#note when using a range :, it does not recognise the last range eg
wds[3:6]

'lip'

In [54]:
wds.capitalize()

'Poplipopo'

In [55]:
wds[1].capitalize().endswith("O")

True

In [ ]:
#assignment 
#1. try the different methods that work on a string to understand it. Try to get errors as well

In [57]:
example_int = 40
#int is not iterable,  not slide/slice nor is it subscriptable 
#eg.
example_int[0]

TypeError: 'int' object is not subscriptable

In [ ]:
#we cannot slice a numeric data type including a float

In [ ]:
#dictionary (dict) is also another data structure
# it takes key-value pairs as compared to the other which structures that is deine by only a value
#eg store African Cpuntries and their cities

In [58]:
example_dict = {"Ghana": ["Accra", "Kumasi", "Kasoa"],
                "Togo": ["lome", "lome2","lome3"],
                "Nigeria": ["lagos", "Abuja", "Portacourt"]
                }

In [59]:
example_dict["Ghana"]

['Accra', 'Kumasi', 'Kasoa']

In [60]:
example_dict["Nigeria"]

['lagos', 'Abuja', 'Portacourt']

In [61]:
example_dict["Togo"]

['lome', 'lome2', 'lome3']

In [62]:
example_dict.keys()

dict_keys(['Ghana', 'Togo', 'Nigeria'])

In [63]:
example_dict.values()

dict_values([['Accra', 'Kumasi', 'Kasoa'], ['lome', 'lome2', 'lome3'], ['lagos', 'Abuja', 'Portacourt']])

In [64]:
example_dict.items()

dict_items([('Ghana', ['Accra', 'Kumasi', 'Kasoa']), ('Togo', ['lome', 'lome2', 'lome3']), ('Nigeria', ['lagos', 'Abuja', 'Portacourt'])])

In [65]:
#Dict is mutable 
#eg
example_dict["Ghana"] = ["dubai", "toronto", "new york"]

In [66]:
example_dict["Ghana"]

['dubai', 'toronto', 'new york']

In [ ]:
#Assignment
# create a dictionary of cars and their models
#get the valuess of a car called benz
#find the length of the models for each car
#find the keys and values in the dictionary
# change the models of one of the car to different ones
# update the dictionary with your own car company and models you would you would like to create


#list
# create a list of cars and it should include duplicates
#cast the listof cars to tuple
#change the list of cars to a set

#play around them using various methods such as update, pop, remove, append etc..
#do as much as you can