In [ ]:
# create a dictionary of cars and their models
# get the values of a car called benz
# find the length of the models for each car
# find the keys and values in the dictionary
# change the models of one of the car to different ones
# update the dictionary with your own car company and models you would like to create

# list
# create a list of cars and  it should include duplicates
# cast the list of cars to tuple
# change the list of cars to a set

# play around them, using various methods such a

In [30]:
#create a dictionary of cars and their models
Car_models = {"Toyota": ["Camry", "Honda", "civic"],
              "Ford": ["Mustang", "Explore", "Malibu"],
              "BMW": ["x5", "3 series", "5 series"],
              "Benz": ["GLE", "C-class", "E-Class"],
              "Audi": ["A4", "Q5", "A6"]
              }

In [31]:
# get the values of a car called benz
Car_models["Benz"]

['GLE', 'C-class', 'E-Class']

In [33]:
# find the length of the models for each car
len(Car_models["Toyota"])

3

In [34]:
len(Car_models["Ford"])

3

In [35]:
len(Car_models["BMW"])

3

In [36]:
len(Car_models["Benz"])

3

In [12]:
len(Car_models["Audi"])

3

In [41]:
# find the keys and values in the dictionary
Car_models.keys()

dict_keys(['Toyota', 'Ford', 'BMW', 'Benz', 'Audi'])

In [40]:
Car_models.values()

dict_values([['Camry', 'Honda', 'civic'], ['Mustang', 'Explore', 'Malibu'], ['x5', '3 series', '5 series'], ['GLE', 'C-class', 'E-Class'], ['A4', 'Q5', 'A6']])

In [44]:
Car_models.items()

dict_items([('Toyota', ['Camry', 'Honda', 'civic']), ('Ford', ['Mustang', 'Explore', 'Malibu']), ('BMW', ['7 series', '4 series', 'X3']), ('Benz', ['GLE', 'C-class', 'E-Class']), ('Audi', ['A4', 'Q5', 'A6'])])

In [46]:
# change the models of one of the car to different ones
Car_models["BMW"] = ["7 series", "4 series", "X3"]

In [47]:
Car_models["BMW"]

['7 series', '4 series', 'X3']

In [49]:
# update the dictionary with your own car company and models you would like to create
Car_models.update({"Volkswagen": ["Golf", "Passat", "Tiguan"]})

In [50]:
Car_models

{'Toyota': ['Camry', 'Honda', 'civic'],
 'Ford': ['Mustang', 'Explore', 'Malibu'],
 'BMW': ['7 series', '4 series', 'X3'],
 'Benz': ['GLE', 'C-class', 'E-Class'],
 'Audi': ['A4', 'Q5', 'A6'],
 'Volkswagen': ['Golf', 'Passat', 'Tiguan']}

In [51]:
# create a list of cars and  it should include duplicates
cars_list = ["lexus", "jeep", "jeep", "lexus", "Tesla", "Nissan"]

In [52]:
cars_list

['lexus', 'jeep', 'jeep', 'lexus', 'Tesla', 'Nissan']

In [53]:
# cast the list of cars to tuple
cars_tuple = ("lexus", "jeep", "jeep", "lexus", "Tesla", "Nissan")

In [54]:
cars_tuple

('lexus', 'jeep', 'jeep', 'lexus', 'Tesla', 'Nissan')

In [55]:
# change the list of cars to a set
cars_set = {"lexus", "jeep", "jeep", "lexus", "Tesla", "Nissan"}

In [56]:
cars_set

{'Nissan', 'Tesla', 'jeep', 'lexus'}

In [ ]:
# play around them, using various methods
# For list

In [ ]:
#For tuple

In [ ]:
#For sets

In [ ]:
#Homework 2
"""""""""""Assignment: Functions and control flow I

1. create a function that takes a number as an argument and raise it to the exponent of itself
Example 5 will be 5 ** 5 (meaning 5 exponent 5) to give result 25 and 6 will be 6**6 to give 36

if - elif -else statements
2. Given a value, check if the value is greater than 10, print "greater than 10" or "less than 10"
depending on whether the condition is met or not.


3. You have applied for a number of jobs and have an offer.
you want to accept or reject an offer based on condition that the salary is more than 50000
and it is a remote location. The result for your job  offer is as follows

job_offer = {"salary": 49000, "location": "remote}

write a code to determine whether to reject or accept the offer based on the following scenario
(a) if the salary condition is met
(b) if the location condition is met
(c) if both of the conditions are met


4. Create a loop that loops-over the days of the week and print the last 3 letters for each day

5. Define a function that use the code of question 4 as the logic of the function (code to execute in the function)
6. Call the function in question 5 and give it the months of the year and print the results"""

In [8]:
def raise_to_self(n):
    return n ** n

# Test the function
print(raise_to_self(5)) 
print(raise_to_self(6))

3125
46656

In [1]:
def multiply_by_itself(numb):
    return numb*numb

print(multiply_by_itself(5))

25

In [2]:
def check_value(value: int) -> int: 
    if value > 10:
        print("greater than 10")
    elif value < 10:
        print("less than 10")
    else:
        print("equal to 10")

# Test the function
check_value(15)  # this should print "greater than 10"
check_value(5)   # this should print "less than 10"
check_value(10)  # and this hould print "equal to 10"

greater than 10
less than 10
equal to 10

In [12]:
def get_job_offer(job_offer: dict, location= "remote") -> str:
    place = job_offer["location"]
    if place == location:
        return "accept"
    else: 
        return "reject"

In [13]:
job_offer = {"salary": 4900000, "location":"remote"}
evaluate = get_job_offer(job_offer=job_offer, location="remote")
print(evaluate)

accept