In [ ]:
# create a dictionary of cars and their models
# get the values of a car called benz
# find the length of the models for each car
# find the keys and values in the dictionary
# change the models of one of the car to different ones
# update the dictionary with your own car company and models you would like to create

# list
# create a list of cars and  it should include duplicates
# cast the list of cars to tuple
# change the list of cars to a set

# play around them, using various methods such a

In [30]:
#create a dictionary of cars and their models
Car_models = {"Toyota": ["Camry", "Honda", "civic"],
              "Ford": ["Mustang", "Explore", "Malibu"],
              "BMW": ["x5", "3 series", "5 series"],
              "Benz": ["GLE", "C-class", "E-Class"],
              "Audi": ["A4", "Q5", "A6"]
              }

In [31]:
# get the values of a car called benz
Car_models["Benz"]

['GLE', 'C-class', 'E-Class']

In [33]:
# find the length of the models for each car
len(Car_models["Toyota"])

3

In [34]:
len(Car_models["Ford"])

3

In [35]:
len(Car_models["BMW"])

3

In [36]:
len(Car_models["Benz"])

3

In [12]:
len(Car_models["Audi"])

3

In [41]:
# find the keys and values in the dictionary
Car_models.keys()

dict_keys(['Toyota', 'Ford', 'BMW', 'Benz', 'Audi'])

In [40]:
Car_models.values()

dict_values([['Camry', 'Honda', 'civic'], ['Mustang', 'Explore', 'Malibu'], ['x5', '3 series', '5 series'], ['GLE', 'C-class', 'E-Class'], ['A4', 'Q5', 'A6']])

In [44]:
Car_models.items()

dict_items([('Toyota', ['Camry', 'Honda', 'civic']), ('Ford', ['Mustang', 'Explore', 'Malibu']), ('BMW', ['7 series', '4 series', 'X3']), ('Benz', ['GLE', 'C-class', 'E-Class']), ('Audi', ['A4', 'Q5', 'A6'])])

In [46]:
# change the models of one of the car to different ones
Car_models["BMW"] = ["7 series", "4 series", "X3"]

In [47]:
Car_models["BMW"]

['7 series', '4 series', 'X3']

In [49]:
# update the dictionary with your own car company and models you would like to create
Car_models.update({"Volkswagen": ["Golf", "Passat", "Tiguan"]})

In [50]:
Car_models

{'Toyota': ['Camry', 'Honda', 'civic'],
 'Ford': ['Mustang', 'Explore', 'Malibu'],
 'BMW': ['7 series', '4 series', 'X3'],
 'Benz': ['GLE', 'C-class', 'E-Class'],
 'Audi': ['A4', 'Q5', 'A6'],
 'Volkswagen': ['Golf', 'Passat', 'Tiguan']}

In [51]:
# create a list of cars and  it should include duplicates
cars_list = ["lexus", "jeep", "jeep", "lexus", "Tesla", "Nissan"]

In [52]:
cars_list

['lexus', 'jeep', 'jeep', 'lexus', 'Tesla', 'Nissan']

In [53]:
# cast the list of cars to tuple
cars_tuple = ("lexus", "jeep", "jeep", "lexus", "Tesla", "Nissan")

In [54]:
cars_tuple

('lexus', 'jeep', 'jeep', 'lexus', 'Tesla', 'Nissan')

In [55]:
# change the list of cars to a set
cars_set = {"lexus", "jeep", "jeep", "lexus", "Tesla", "Nissan"}

In [56]:
cars_set

{'Nissan', 'Tesla', 'jeep', 'lexus'}

In [ ]:
# play around them, using various methods
# For list

In [ ]:
#For tuple

In [ ]:
#For sets

In [ ]:
#Homework 2
"""""""""""Assignment: Functions and control flow I

1. create a function that takes a number as an argument and raise it to the exponent of itself
Example 5 will be 5 ** 5 (meaning 5 exponent 5) to give result 25 and 6 will be 6**6 to give 36

if - elif -else statements
2. Given a value, check if the value is greater than 10, print "greater than 10" or "less than 10"
depending on whether the condition is met or not.


3. You have applied for a number of jobs and have an offer.
you want to accept or reject an offer based on condition that the salary is more than 50000
and it is a remote location. The result for your job  offer is as follows

job_offer = {"salary": 49000, "location": "remote}

write a code to determine whether to reject or accept the offer based on the following scenario
(a) if the salary condition is met
(b) if the location condition is met
(c) if both of the conditions are met


4. Create a loop that loops-over the days of the week and print the last 3 letters for each day

5. Define a function that use the code of question 4 as the logic of the function (code to execute in the function)
6. Call the function in question 5 and give it the months of the year and print the results"""

In [8]:
def raise_to_self(n):
    return n ** n

# Test the function
print(raise_to_self(5)) 
print(raise_to_self(6))

3125
46656

In [1]:
def multiply_by_itself(numb):
    return numb*numb

print(multiply_by_itself(5))

25

In [2]:
def check_value(value: int) -> int: 
    if value > 10:
        print("greater than 10")
    elif value < 10:
        print("less than 10")
    else:
        print("equal to 10")

# Test the function
check_value(15)  # this should print "greater than 10"
check_value(5)   # this should print "less than 10"
check_value(10)  # and this hould print "equal to 10"

greater than 10
less than 10
equal to 10

In [12]:
def get_job_offer(job_offer: dict, location= "remote") -> str:
    place = job_offer["location"]
    if place == location:
        return "accept"
    else: 
        return "reject"

In [13]:
job_offer = {"salary": 4900000, "location":"remote"}
evaluate = get_job_offer(job_offer=job_offer, location="remote")
print(evaluate)

accept

In [14]:
days_of_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for day in days_of_week:
    print(day[-3:])

day
day
day
day
day
day
day

In [16]:
days_of_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for day in days_of_week:
    print(day[:3])

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [46]:
def print_last_three_letters(days_of_week: str) -> str:
    for day in days_of_week:
        print(day[-3:])
        print(type(day))

In [47]:
print_last_three_letters(days_of_week)

day
<class 'str'>
day
<class 'str'>
day
<class 'str'>
day
<class 'str'>
day
<class 'str'>
day
<class 'str'>
day
<class 'str'>

In [40]:
def print_first_three_letters(days_of_week: str) -> str:
    for day in days_of_week:
        print(day[:3])

In [43]:
print_first_three_letters(days_of_week)

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [35]:
months_of_year = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
  
def print_last_three_letters_of_month(months_of_year: str) -> str:  
    for month in months_of_year:
      print(month[-3:])

In [44]:

print_last_three_letters_of_month(months_of_year)

ary
ary
rch
ril
May
une
uly
ust
ber
ber
ber
ber

In [ ]:
""""""""""1. Given a list of numbers write 2 different function with the first one returning the maximum value and the second returns the minimum
Eg. example_list = [2,8,4,1,0,5], the function for maximum should return 8 and that of the minimum should return 0 in this case
2. write a function that takes a string parameter and reverse it.
Eg, given the value "name" it return the reverse as "eman", "girl" -> "lrig", "boy"->"yob""""

In [53]:
example_list =  [2,8,4,1,0,5]

In [51]:
from typing import Union
def get_minimum(values_to_search: list) -> Union[int, float]:
    initial_min_value = 0
    for num in values_to_search:
        if num < initial_min_value:
            initial_min_value = num
    return initial_min_value

In [54]:
get_minimum(values_to_search=example_list)

0

In [56]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.0.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /root/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
""""create a dictionary of your own data and convert it to a dataframe
do some basic exploratory analysis on the data"""

In [59]:
import pandas as pd
class_data = {"Housing_type": ["Single_room", "apartment","studio", "Bangalow"],
              "Number_of_rooms": ["1", "2", "1", "3"],
              "Housing_condition": ["good_condition", "fully_furnished", "small", "poor_condition"],
              "Location": ["Augsburg", "Landshut", "München", "Passau"],
              }

In [60]:
pd.DataFrame(class_data)

  Housing_type Number_of_rooms Housing_condition  Location
0  Single_room               1    good_condition  Augsburg
1    apartment               2   fully_furnished  Landshut
2       studio               1             small   München
3     Bangalow               3    poor_condition    Passau

In [ ]:
# NEW Homework
#Import the data and show the first and last 10 data samples
# select the first and last data columns
# Select 100th data sample to 200th data sample
# Perform basic statistics on the result of 3

In [1]:
#Import pandas
import pandas as pd

In [7]:
datapath = "/root/ds_tutorial/Test-repository/WhatsgoodlyData-6.csv"

data = pd.read_csv(datapath)

In [4]:
data

,Question,Segment Type,Segment Description,Answer,Count,Percentage
0,What social platform has influenced your onlin...,Mobile,Global results,Facebook,548,0.205
1,What social platform has influenced your onlin...,Mobile,Global results,Instagram,916,0.342
2,What social platform has influenced your onlin...,Mobile,Global results,Snapchat,86,0.032
3,What social platform has influenced your onlin...,Mobile,Global results,Twitter,179,0.067
4,What social platform has influenced your onlin...,Mobile,Global results,NaN,947,0.354
...,...,...,...,...,...,...
1445,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Facebook,215,0.180
1446,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Instagram,354,0.297
1447,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Snapchat,44,0.037
1448,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Twitter,88,0.074
1449,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,NaN,492,0.412

In [5]:
#show the first 10 data samples
data.head(10)

,Question,Segment Type,Segment Description,Answer,Count,Percentage
0,What social platform has influenced your onlin...,Mobile,Global results,Facebook,548,0.205
1,What social platform has influenced your onlin...,Mobile,Global results,Instagram,916,0.342
2,What social platform has influenced your onlin...,Mobile,Global results,Snapchat,86,0.032
3,What social platform has influenced your onlin...,Mobile,Global results,Twitter,179,0.067
4,What social platform has influenced your onlin...,Mobile,Global results,NaN,947,0.354
5,What social platform has influenced your onlin...,Web,Web,Facebook,0,0.000
6,What social platform has influenced your onlin...,Web,Web,Instagram,0,0.000
7,What social platform has influenced your onlin...,Web,Web,Snapchat,0,0.000
8,What social platform has influenced your onlin...,Web,Web,Twitter,0,0.000
9,What social platform has influenced your onlin...,Web,Web,NaN,2,1.000

In [6]:
#show the last 10 data samples
data.tail(10)

,Question,Segment Type,Segment Description,Answer,Count,Percentage
1440,What social platform has influenced your onlin...,Custom,closely identify as? White,Facebook,352,0.224
1441,What social platform has influenced your onlin...,Custom,closely identify as? White,Instagram,498,0.317
1442,What social platform has influenced your onlin...,Custom,closely identify as? White,Snapchat,47,0.030
1443,What social platform has influenced your onlin...,Custom,closely identify as? White,Twitter,102,0.065
1444,What social platform has influenced your onlin...,Custom,closely identify as? White,NaN,573,0.365
1445,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Facebook,215,0.180
1446,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Instagram,354,0.297
1447,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Snapchat,44,0.037
1448,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Twitter,88,0.074
1449,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,NaN,492,0.412

In [9]:
 #select the first data columns

data.iloc[:, 0]

0       What social platform has influenced your onlin...
1       What social platform has influenced your onlin...
2       What social platform has influenced your onlin...
3       What social platform has influenced your onlin...
4       What social platform has influenced your onlin...
                              ...
1445    What social platform has influenced your onlin...
1446    What social platform has influenced your onlin...
1447    What social platform has influenced your onlin...
1448    What social platform has influenced your onlin...
1449    What social platform has influenced your onlin...
Name: Question, Length: 1450, dtype: object

In [25]:
data.iloc[:, :1]#dataframe

                                               Question
0     What social platform has influenced your onlin...
1     What social platform has influenced your onlin...
2     What social platform has influenced your onlin...
3     What social platform has influenced your onlin...
4     What social platform has influenced your onlin...
...                                                 ...
1445  What social platform has influenced your onlin...
1446  What social platform has influenced your onlin...
1447  What social platform has influenced your onlin...
1448  What social platform has influenced your onlin...
1449  What social platform has influenced your onlin...

[1450 rows x 1 columns]

In [10]:
 #select the last data columns
data.iloc[:, -1]

0       0.205
1       0.342
2       0.032
3       0.067
4       0.354
        ...
1445    0.180
1446    0.297
1447    0.037
1448    0.074
1449    0.412
Name: Percentage, Length: 1450, dtype: float64

In [23]:
#Select the 100th data sample to the 200th data sample
range = data.iloc[100:201]

In [24]:
range

,Question,Segment Type,Segment Description,Answer,Count,Percentage
100,What social platform has influenced your onlin...,University,University of Toronto,Facebook,1,0.333
101,What social platform has influenced your onlin...,University,University of Toronto,Instagram,1,0.333
102,What social platform has influenced your onlin...,University,University of Toronto,Snapchat,0,0.000
103,What social platform has influenced your onlin...,University,University of Toronto,Twitter,0,0.000
104,What social platform has influenced your onlin...,University,University of Toronto,NaN,1,0.333
...,...,...,...,...,...,...
196,What social platform has influenced your onlin...,University,Lock Haven University,Instagram,0,0.000
197,What social platform has influenced your onlin...,University,Lock Haven University,Snapchat,0,0.000
198,What social platform has influenced your onlin...,University,Lock Haven University,Twitter,0,0.000
199,What social platform has influenced your onlin...,University,Lock Haven University,NaN,0,0.000
200,What social platform has influenced your onlin...,University,Kalamazoo College,Facebook,0,0.000

In [16]:
# Perform basic statistics on the result of 3
range.describe()

            Count  Percentage
count  101.000000  101.000000
mean     0.485149    0.198010
std      1.261855    0.365484
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      1.000000    0.263000
max     10.000000    1.000000

In [17]:
range.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 100 to 200
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Question             101 non-null    object
 1   Segment Type         101 non-null    object
 2   Segment Description  101 non-null    object
 3   Answer               81 non-null     object
 4   Count                101 non-null    int64
 5   Percentage           101 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 4.9+ KB

In [ ]:
#####You have received sales and profits dataset from the marketing and sales team of a Superstore about the recent campaign and how sales in performing in general. 
# Analyze the data to derive meaningful and actionable sights and present it to the team. 
# #Provide recommendations based on your data analysis. The results should be in a notebook where you provide the context of your analysis, details of all the code you used and your recommendation based on the analysis. 
# Note: Apply as much as you have already learnt as well as what you discovered personally. 
# Hint: This is an open question and the value you provide will be deeply dependent on critical thinking ability. 
# Try to think-through which features of the dataset will be of interest to them and how relevant the insights from those will be to business growth in general. 
# Analyze as much of the data as you can and double down on those features.

In [4]:
import pandas as pd

In [46]:
dataroot = "/root/ds_tutorial/Test-repository/Sample - Superstore.csv"

In [48]:
data = pd.read_csv(dataroot, encoding='windows-1254')

In [49]:
data

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [53]:
# Data overview, understanding and Basic Analysis
data.head(20)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,9,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,10,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700
10,11,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092
11,12,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.4240,4,0.20,68.3568
12,13,CA-2017-114412,4/15/2017,4/20/2017,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,...,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.5520,3,0.20,5.4432
13,14,CA-2016-161389,12/5/2016,12/10/2016,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,...,98103,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.9760,3,0.20,132.5922
14,15,US-2015-118983,11/22/2015,11/26/2015,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,76106,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.8100,5,0.80,-123.8580
15,16,US-2015-118983,11/22/2015,11/26/2015,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,76106,Central,OFF-BI-10000756,Office Supplies,Binders,Storex DuraTech Recycled Plastic Frosted Binders,2.5440,3,0.80,-3.8160
16,17,CA-2014-105893,11/11/2014,11/18/2014,Standard Class,PK-19075,Pete Kriz,Consumer,United States,Madison,...,53711,Central,OFF-ST-10004186,Office Supplies,Storage,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x...",665.8800,6,0.00,13.3176
17,18,CA-2014-167164,5/13/2014,5/15/2014,Second Class,AG-10270,Alejandro Grove,Consumer,United States,West Jordan,...,84084,West,OFF-ST-10000107,Office Supplies,Storage,Fellowes Super Stor/Drawer,55.5000,2,0.00,9.9900
18,19,CA-2014-143336,8/27/2014,9/1/2014,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,OFF-AR-10003056,Office Supplies,Art,Newell 341,8.5600,2,0.00,2.4824
19,20,CA-2014-143336,8/27/2014,9/1/2014,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.4800,3,0.20,16.0110

In [63]:
data.tail(20)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9974,9975,US-2016-103674,12/6/2016,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-AR-10004752,Office Supplies,Art,Blackstonian Pencils,18.690,7,0.0,5.2332
9975,9976,US-2016-103674,12/6/2016,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-PA-10000743,Office Supplies,Paper,Xerox 1977,13.360,2,0.0,6.4128
9976,9977,US-2016-103674,12/6/2016,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,TEC-PH-10002496,Technology,Phones,Cisco SPA301,249.584,2,0.2,31.1980
9977,9978,US-2016-103674,12/6/2016,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-FA-10003467,Office Supplies,Fasteners,"Alliance Big Bands Rubber Bands, 12/Pack",13.860,7,0.0,0.0000
9978,9979,US-2016-103674,12/6/2016,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-BI-10003727,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,13.376,4,0.2,4.6816
9979,9980,US-2016-103674,12/6/2016,12/10/2016,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-BI-10002026,Office Supplies,Binders,Ibico Recycled Linen-Style Covers,437.472,14,0.2,153.1152
9980,9981,US-2015-151435,9/6/2015,9/9/2015,Second Class,SW-20455,Shaun Weien,Consumer,United States,Lafayette,...,70506,South,FUR-TA-10001039,Furniture,Tables,KI Adjustable-Height Table,85.980,1,0.0,22.3548
9981,9982,CA-2017-163566,8/3/2017,8/6/2017,First Class,TB-21055,Ted Butterfield,Consumer,United States,Fairfield,...,45014,East,OFF-LA-10004484,Office Supplies,Labels,Avery 476,16.520,5,0.2,5.3690
9982,9983,US-2016-157728,9/22/2016,9/28/2016,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,...,49505,Central,OFF-PA-10002195,Office Supplies,Paper,"RSVP Cards & Envelopes, Blank White, 8-1/2"" X ...",35.560,7,0.0,16.7132
9983,9984,US-2016-157728,9/22/2016,9/28/2016,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,...,49505,Central,TEC-PH-10001305,Technology,Phones,Panasonic KX TS208W Corded phone,97.980,2,0.0,27.4344
9984,9985,CA-2015-100251,5/17/2015,5/23/2015,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10,0.0,15.1200
9985,9986,CA-2015-100251,5/17/2015,5/23/2015,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4,0.0,16.1240
9986,9987,CA-2016-125794,9/29/2016,10/3/2016,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,...,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1,0.0,15.2208
9987,9988,CA-2017-163629,11/17/2017,11/21/2017,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1,0.0,28.7964
9988,9989,CA-2017-163629,11/17/2017,11/21/2017,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,0.0,55.6470
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [55]:
data.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [64]:
data.iloc[:, 12:]

,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...
9989,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [56]:
##Data Cleaning and Preprocessing
data.isnull().sum() #no missing values found

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [57]:
data.duplicated().sum() # no duplicates found

np.int64(0)

In [73]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [75]:
data.rename(columns={'Product Name': 'Product'}, inplace=True)

In [76]:
data.Product

0                       Bush Somerset Collection Bookcase
1       Hon Deluxe Fabric Upholstered Stacking Chairs,...
2       Self-Adhesive Address Labels for Typewriters b...
3           Bretford CR4500 Series Slim Rectangular Table
4                          Eldon Fold 'N Roll Cart System
                              ...
9989                               Ultra Door Pull Handle
9990    Tenex B1-RE Series Chair Mats for Low Pile Car...
9991                                Aastra 57i VoIP phone
9992    It's Hot Message Books with Stickers, 2 3/4" x 5"
9993    Acco 7-Outlet Masterpiece Power Center, Wihtou...
Name: Product, Length: 9994, dtype: object

In [77]:
data.Category

0             Furniture
1             Furniture
2       Office Supplies
3             Furniture
4       Office Supplies
             ...
9989          Furniture
9990          Furniture
9991         Technology
9992    Office Supplies
9993    Office Supplies
Name: Category, Length: 9994, dtype: object

In [58]:
# Data analysis and visualization 
total_sales = data['Sales'].sum()

In [59]:
total_sales

np.float64(2297200.8603000003)

In [60]:
total_profits = data['Profit'].sum()

In [61]:
total_profits

np.float64(286397.0217)

In [ ]:
## analyse sales performance using the descending method

In [65]:
sales_by_category = data.groupby('Category')['Sales'].sum().sort_values(ascending=False)

In [66]:
sales_by_category

Category
Technology         836154.0330
Furniture          741999.7953
Office Supplies    719047.0320
Name: Sales, dtype: float64

In [67]:
profits_by_region = data.groupby('Region')['Profit'].sum().sort_values(ascending=False)

In [68]:
profits_by_region

Region
West       108418.4489
East        91522.7800
South       46749.4303
Central     39706.3625
Name: Profit, dtype: float64

In [72]:
%pip install pandas numpy matplotlib seaborn

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (2.0.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.9.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /root/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.5)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.53.1)
Requirement already satisfied: packaging>=20.0 in /root/.local/lib/python3.10/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (10.4.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [70]:
import matplotlib.pyplot as plt

In [71]:
import seaborn as sns

In [ ]:
##visualization

In [ ]:
##### Key Findings 
###Sales Performance: The highest sales were observed in the Technology category, but profits were highest in Office Supplies, suggesting a need to optimize costs in the Technology category.
##Regional Insights: The West region had the highest profits, while the South region was underperforming. Consider regional promotions or operational adjustments to improve sales in the South.
##Profit Optimization: Review high discount rates that are negatively impacting profits, especially in the Furniture category.

In [ ]:
###Recommendations
##Invest in regions showing high growth potential to maximize returns.
##