In [ ]:
# create a dictionary of cars and their models
# get the values of a car called benz
# find the length of the models for each car
# find the keys and values in the dictionary
# change the models of one of the car to different ones
# update the dictionary with your own car company and models you would like to create

# list
# create a list of cars and  it should include duplicates
# cast the list of cars to tuple
# change the list of cars to a set

# play around them, using various methods such a

In [30]:
#create a dictionary of cars and their models
Car_models = {"Toyota": ["Camry", "Honda", "civic"],
              "Ford": ["Mustang", "Explore", "Malibu"],
              "BMW": ["x5", "3 series", "5 series"],
              "Benz": ["GLE", "C-class", "E-Class"],
              "Audi": ["A4", "Q5", "A6"]
              }

In [31]:
# get the values of a car called benz
Car_models["Benz"]

['GLE', 'C-class', 'E-Class']

In [33]:
# find the length of the models for each car
len(Car_models["Toyota"])

3

In [34]:
len(Car_models["Ford"])

3

In [35]:
len(Car_models["BMW"])

3

In [36]:
len(Car_models["Benz"])

3

In [12]:
len(Car_models["Audi"])

3

In [41]:
# find the keys and values in the dictionary
Car_models.keys()

dict_keys(['Toyota', 'Ford', 'BMW', 'Benz', 'Audi'])

In [40]:
Car_models.values()

dict_values([['Camry', 'Honda', 'civic'], ['Mustang', 'Explore', 'Malibu'], ['x5', '3 series', '5 series'], ['GLE', 'C-class', 'E-Class'], ['A4', 'Q5', 'A6']])

In [44]:
Car_models.items()

dict_items([('Toyota', ['Camry', 'Honda', 'civic']), ('Ford', ['Mustang', 'Explore', 'Malibu']), ('BMW', ['7 series', '4 series', 'X3']), ('Benz', ['GLE', 'C-class', 'E-Class']), ('Audi', ['A4', 'Q5', 'A6'])])

In [46]:
# change the models of one of the car to different ones
Car_models["BMW"] = ["7 series", "4 series", "X3"]

In [47]:
Car_models["BMW"]

['7 series', '4 series', 'X3']

In [49]:
# update the dictionary with your own car company and models you would like to create
Car_models.update({"Volkswagen": ["Golf", "Passat", "Tiguan"]})

In [50]:
Car_models

{'Toyota': ['Camry', 'Honda', 'civic'],
 'Ford': ['Mustang', 'Explore', 'Malibu'],
 'BMW': ['7 series', '4 series', 'X3'],
 'Benz': ['GLE', 'C-class', 'E-Class'],
 'Audi': ['A4', 'Q5', 'A6'],
 'Volkswagen': ['Golf', 'Passat', 'Tiguan']}

In [51]:
# create a list of cars and  it should include duplicates
cars_list = ["lexus", "jeep", "jeep", "lexus", "Tesla", "Nissan"]

In [52]:
cars_list

['lexus', 'jeep', 'jeep', 'lexus', 'Tesla', 'Nissan']

In [53]:
# cast the list of cars to tuple
cars_tuple = ("lexus", "jeep", "jeep", "lexus", "Tesla", "Nissan")

In [54]:
cars_tuple

('lexus', 'jeep', 'jeep', 'lexus', 'Tesla', 'Nissan')

In [55]:
# change the list of cars to a set
cars_set = {"lexus", "jeep", "jeep", "lexus", "Tesla", "Nissan"}

In [56]:
cars_set

{'Nissan', 'Tesla', 'jeep', 'lexus'}

In [ ]:
# play around them, using various methods
# For list

In [ ]:
#For tuple

In [ ]:
#For sets

In [ ]:
#Homework 2
"""""""""""Assignment: Functions and control flow I

1. create a function that takes a number as an argument and raise it to the exponent of itself
Example 5 will be 5 ** 5 (meaning 5 exponent 5) to give result 25 and 6 will be 6**6 to give 36

if - elif -else statements
2. Given a value, check if the value is greater than 10, print "greater than 10" or "less than 10"
depending on whether the condition is met or not.


3. You have applied for a number of jobs and have an offer.
you want to accept or reject an offer based on condition that the salary is more than 50000
and it is a remote location. The result for your job  offer is as follows

job_offer = {"salary": 49000, "location": "remote}

write a code to determine whether to reject or accept the offer based on the following scenario
(a) if the salary condition is met
(b) if the location condition is met
(c) if both of the conditions are met


4. Create a loop that loops-over the days of the week and print the last 3 letters for each day

5. Define a function that use the code of question 4 as the logic of the function (code to execute in the function)
6. Call the function in question 5 and give it the months of the year and print the results"""

In [8]:
def raise_to_self(n):
    return n ** n

# Test the function
print(raise_to_self(5)) 
print(raise_to_self(6))

3125
46656

In [1]:
def multiply_by_itself(numb):
    return numb*numb

print(multiply_by_itself(5))

25

In [2]:
def check_value(value: int) -> int: 
    if value > 10:
        print("greater than 10")
    elif value < 10:
        print("less than 10")
    else:
        print("equal to 10")

# Test the function
check_value(15)  # this should print "greater than 10"
check_value(5)   # this should print "less than 10"
check_value(10)  # and this hould print "equal to 10"

greater than 10
less than 10
equal to 10

In [12]:
def get_job_offer(job_offer: dict, location= "remote") -> str:
    place = job_offer["location"]
    if place == location:
        return "accept"
    else: 
        return "reject"

In [13]:
job_offer = {"salary": 4900000, "location":"remote"}
evaluate = get_job_offer(job_offer=job_offer, location="remote")
print(evaluate)

accept

In [14]:
days_of_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for day in days_of_week:
    print(day[-3:])

day
day
day
day
day
day
day

In [16]:
days_of_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for day in days_of_week:
    print(day[:3])

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [46]:
def print_last_three_letters(days_of_week: str) -> str:
    for day in days_of_week:
        print(day[-3:])
        print(type(day))

In [47]:
print_last_three_letters(days_of_week)

day
<class 'str'>
day
<class 'str'>
day
<class 'str'>
day
<class 'str'>
day
<class 'str'>
day
<class 'str'>
day
<class 'str'>

In [40]:
def print_first_three_letters(days_of_week: str) -> str:
    for day in days_of_week:
        print(day[:3])

In [43]:
print_first_three_letters(days_of_week)

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [35]:
months_of_year = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
  
def print_last_three_letters_of_month(months_of_year: str) -> str:  
    for month in months_of_year:
      print(month[-3:])

In [44]:

print_last_three_letters_of_month(months_of_year)

ary
ary
rch
ril
May
une
uly
ust
ber
ber
ber
ber

In [ ]:
""""""""""1. Given a list of numbers write 2 different function with the first one returning the maximum value and the second returns the minimum
Eg. example_list = [2,8,4,1,0,5], the function for maximum should return 8 and that of the minimum should return 0 in this case
2. write a function that takes a string parameter and reverse it.
Eg, given the value "name" it return the reverse as "eman", "girl" -> "lrig", "boy"->"yob""""

In [53]:
example_list =  [2,8,4,1,0,5]

In [51]:
from typing import Union
def get_minimum(values_to_search: list) -> Union[int, float]:
    initial_min_value = 0
    for num in values_to_search:
        if num < initial_min_value:
            initial_min_value = num
    return initial_min_value

In [54]:
get_minimum(values_to_search=example_list)

0

In [56]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.0.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /root/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
""""create a dictionary of your own data and convert it to a dataframe
do some basic exploratory analysis on the data"""

In [59]:
import pandas as pd
class_data = {"Housing_type": ["Single_room", "apartment","studio", "Bangalow"],
              "Number_of_rooms": ["1", "2", "1", "3"],
              "Housing_condition": ["good_condition", "fully_furnished", "small", "poor_condition"],
              "Location": ["Augsburg", "Landshut", "München", "Passau"],
              }

In [60]:
pd.DataFrame(class_data)

  Housing_type Number_of_rooms Housing_condition  Location
0  Single_room               1    good_condition  Augsburg
1    apartment               2   fully_furnished  Landshut
2       studio               1             small   München
3     Bangalow               3    poor_condition    Passau

In [ ]:
# NEW Homework
#Import the data and show the first and last 10 data samples
# select the first and last data columns
# Select 100th data sample to 200th data sample
# Perform basic statistics on the result of 3

In [1]:
#Import pandas
import pandas as pd

In [7]:
datapath = "/root/ds_tutorial/Test-repository/WhatsgoodlyData-6.csv"

data = pd.read_csv(datapath)

In [4]:
data

,Question,Segment Type,Segment Description,Answer,Count,Percentage
0,What social platform has influenced your onlin...,Mobile,Global results,Facebook,548,0.205
1,What social platform has influenced your onlin...,Mobile,Global results,Instagram,916,0.342
2,What social platform has influenced your onlin...,Mobile,Global results,Snapchat,86,0.032
3,What social platform has influenced your onlin...,Mobile,Global results,Twitter,179,0.067
4,What social platform has influenced your onlin...,Mobile,Global results,NaN,947,0.354
...,...,...,...,...,...,...
1445,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Facebook,215,0.180
1446,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Instagram,354,0.297
1447,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Snapchat,44,0.037
1448,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Twitter,88,0.074
1449,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,NaN,492,0.412

In [5]:
#show the first 10 data samples
data.head(10)

,Question,Segment Type,Segment Description,Answer,Count,Percentage
0,What social platform has influenced your onlin...,Mobile,Global results,Facebook,548,0.205
1,What social platform has influenced your onlin...,Mobile,Global results,Instagram,916,0.342
2,What social platform has influenced your onlin...,Mobile,Global results,Snapchat,86,0.032
3,What social platform has influenced your onlin...,Mobile,Global results,Twitter,179,0.067
4,What social platform has influenced your onlin...,Mobile,Global results,NaN,947,0.354
5,What social platform has influenced your onlin...,Web,Web,Facebook,0,0.000
6,What social platform has influenced your onlin...,Web,Web,Instagram,0,0.000
7,What social platform has influenced your onlin...,Web,Web,Snapchat,0,0.000
8,What social platform has influenced your onlin...,Web,Web,Twitter,0,0.000
9,What social platform has influenced your onlin...,Web,Web,NaN,2,1.000

In [6]:
#show the last 10 data samples
data.tail(10)

,Question,Segment Type,Segment Description,Answer,Count,Percentage
1440,What social platform has influenced your onlin...,Custom,closely identify as? White,Facebook,352,0.224
1441,What social platform has influenced your onlin...,Custom,closely identify as? White,Instagram,498,0.317
1442,What social platform has influenced your onlin...,Custom,closely identify as? White,Snapchat,47,0.030
1443,What social platform has influenced your onlin...,Custom,closely identify as? White,Twitter,102,0.065
1444,What social platform has influenced your onlin...,Custom,closely identify as? White,NaN,573,0.365
1445,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Facebook,215,0.180
1446,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Instagram,354,0.297
1447,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Snapchat,44,0.037
1448,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Twitter,88,0.074
1449,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,NaN,492,0.412

In [9]:
 #select the first data columns

data.iloc[:, 0]

0       What social platform has influenced your onlin...
1       What social platform has influenced your onlin...
2       What social platform has influenced your onlin...
3       What social platform has influenced your onlin...
4       What social platform has influenced your onlin...
                              ...
1445    What social platform has influenced your onlin...
1446    What social platform has influenced your onlin...
1447    What social platform has influenced your onlin...
1448    What social platform has influenced your onlin...
1449    What social platform has influenced your onlin...
Name: Question, Length: 1450, dtype: object

In [25]:
data.iloc[:, :1]#dataframe

                                               Question
0     What social platform has influenced your onlin...
1     What social platform has influenced your onlin...
2     What social platform has influenced your onlin...
3     What social platform has influenced your onlin...
4     What social platform has influenced your onlin...
...                                                 ...
1445  What social platform has influenced your onlin...
1446  What social platform has influenced your onlin...
1447  What social platform has influenced your onlin...
1448  What social platform has influenced your onlin...
1449  What social platform has influenced your onlin...

[1450 rows x 1 columns]

In [10]:
 #select the last data columns
data.iloc[:, -1]

0       0.205
1       0.342
2       0.032
3       0.067
4       0.354
        ...
1445    0.180
1446    0.297
1447    0.037
1448    0.074
1449    0.412
Name: Percentage, Length: 1450, dtype: float64

In [23]:
#Select the 100th data sample to the 200th data sample
range = data.iloc[100:201]

In [24]:
range

,Question,Segment Type,Segment Description,Answer,Count,Percentage
100,What social platform has influenced your onlin...,University,University of Toronto,Facebook,1,0.333
101,What social platform has influenced your onlin...,University,University of Toronto,Instagram,1,0.333
102,What social platform has influenced your onlin...,University,University of Toronto,Snapchat,0,0.000
103,What social platform has influenced your onlin...,University,University of Toronto,Twitter,0,0.000
104,What social platform has influenced your onlin...,University,University of Toronto,NaN,1,0.333
...,...,...,...,...,...,...
196,What social platform has influenced your onlin...,University,Lock Haven University,Instagram,0,0.000
197,What social platform has influenced your onlin...,University,Lock Haven University,Snapchat,0,0.000
198,What social platform has influenced your onlin...,University,Lock Haven University,Twitter,0,0.000
199,What social platform has influenced your onlin...,University,Lock Haven University,NaN,0,0.000
200,What social platform has influenced your onlin...,University,Kalamazoo College,Facebook,0,0.000

In [16]:
# Perform basic statistics on the result of 3
range.describe()

            Count  Percentage
count  101.000000  101.000000
mean     0.485149    0.198010
std      1.261855    0.365484
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      1.000000    0.263000
max     10.000000    1.000000

In [17]:
range.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 100 to 200
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Question             101 non-null    object
 1   Segment Type         101 non-null    object
 2   Segment Description  101 non-null    object
 3   Answer               81 non-null     object
 4   Count                101 non-null    int64
 5   Percentage           101 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 4.9+ KB